/**
 * @name VSC Cord
 * @version 1.4
 * @description Theme based on Visual Studio Code design. Credit to userMacieG#7591 for allowing me to use stuff from his Discord.tv theme.
 * @author Xyhlo#9766
*/

@import url("https://xhylo.github.io/Visual-Studio-Code-BD-theme/EditedVSCC.theme.css");

/* VSC Cord */
:root {
    --color-brand: #04070d;
    --color-brand-darker: #020305;
    --color-brand-lighter: #4373c5;
    --color-red: #e91916;
    --color-red-darker: #bb1411;
    --color-orange: #ffca61;
    --color-orange-darker: #fcc439;
    --background-orange: rgba(255, 165, 0, 0.10);
    --color-green: #48bee2;
    --color-green-darker: #efefefb7;
    --color-gray: #d4d8e0;
    --color-gray-darker: #d5d8de;
    --shadow: 0 4px 8px rgba(0, 0, 0, .4), 0 0 4px rgba(0, 0, 0, .4);
    --shadow-bottom: 0 1px 2px rgba(0, 0, 0, .9), 0 0 2px rgba(0, 0, 0, .9);
    --user-background: #18181b;
}
/*Color Schemes*/
